# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
fl_env/
f1_env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Dataset
dataset/
federated_clients/

# Generated outputs
results/
experiment_results/
uploads/
static/explanations/
logs/

# Test images
test_images/

# Old Flower examples
federated_learning/quickstart-tensorflow/
federated_learning/quickstart-tensorflow-132/
federated_learning/experiment_results_5rounds/

# Temporary files
*.log
*.tmp

# Operating system
Thumbs.db
.DS_Store

fed_xai_v2/
src copy/
evaluation_results/
*.zip

federated_learning/global_model.keras